/*commentaires*/
body {
    margin: -3.5vh 0;
    background-image: url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
}
header, section {
    height: 100vh;
    text-align: center;
}
.heado {
    padding: 0vh;
}
.centerblock {
    height: 30vh;
}
h1 {
    text-transform: uppercase;
}
.up {
    text-transform: uppercase;
}
.overflow {
    background-image: url(../img/banner.svg);
    background-position: center bottom;
    background-color: #35B88F;
    background-size: cover;
    margin-top: -3.1vh;
}
.block2 {
    background-color: saddlebrown;
    margin: 23vh auto;
    height: 61vh;
    width: 70vw;
}
.blocktext {
    width: 35vw;
    height: 61vh;
    background-color: white;
}
.text1 {
    float: right;
}
.text2 {
    float: left;
}
.blockimg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 61vh;
}
.img1 {
    background-image: url(../img/pic01.jpg);
    background-position: right;
    float: left;
}
.img2 {
    background-image: url(../img/pic02.jpg);
    float: right;
}